/**************** ЕРӨНХИЙ *********************/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.clearfix::after {
  content: "";
  display: table;
  clear: both;
}

body {
  background-image: linear-gradient(
      rgba(62, 20, 20, 0.4),
      rgba(62, 20, 20, 0.4)
    ),
    url(back.jpg);
  background-size: cover;
  background-position: center;
  font-family: Lato "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  position: relative;
  height: 100vh;
  color: #555;
}

.wrapper {
  width: 90%;
  max-width: 60rem;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: #fff;
  box-shadow: 0px 0.5rem 2.5rem rgba(0, 0, 0, 0.3);
  overflow: hidden;
  border-radius: 1rem;
}

.player-0-panel,
.player-1-panel {
  width: 50%;
  float: left;
  height: 30rem;
  padding: 4rem;
}

/****************** ТОГЛОГЧИД ************************/
.player-name {
  font-size: 2rem;
  text-align: center;
  text-transform: uppercase;
  letter-spacing: 2px;
  margin-top: 1rem;
  margin-bottom: 0.5rem;
  position: relative;
}

.player-score {
  text-align: center;
  font-size: 4rem;
  /*color: #eb4d4d;*/
  margin-bottom: 6rem;
}

.active {
  background-color: #f6f6f6;
}
.active .player-name,
.active .player-score {
  color: #eb4d4d;
  font-weight: 500;
}

.player-current-box {
  background-color: #eb4d4d;
  color: #fff;
  width: 40%;
  margin: 0 auto;
  padding: 0.75rem;
  text-align: center;
  border-radius: 0.75rem;
}

.player-current-label {
  text-transform: uppercase;
  margin-bottom: 0.6rem;
  font-size: 0.75rem;
  color: #fff;
}

.player-current-score {
  font-size: 1.5rem;
}

button {
  position: absolute;
  width: 10rem;
  left: 50%;
  transform: translateX(-50%);
  color: #555;
  background: none;
  border: none;
  font-size: 1rem;
  text-transform: uppercase;
  cursor: pointer;
  font-weight: 300;
  transition: background-color 0.3s, color 0.3s;
}

button:hover {
  font-weight: 600;
}
button:hover i {
  margin-right: 1.25rem;
}

button:focus {
  outline: none;
}

i {
  color: #eb4d4d;
  display: inline-block;
  margin-right: 1rem;
  font-size: 2rem;
  line-height: 1;
  vertical-align: text-top;
  margin-top: -0.5rem;
  transition: margin 0.25s;
}

.btn-new {
  top: 2.5rem;
}
.btn-roll {
  top: 20rem;
}
.btn-hold {
  top: 25rem;
}

.dice {
  position: absolute;
  left: 50%;
  top: 10rem;
  transform: translateX(-50%);
  height: 5rem;
  box-shadow: 0px 0.75rem 3rem rgba(0, 0, 0, 0.1);
}

.winner {
  background-color: #f8c471;
}
.winner .player-name {
  font-weight: 300;
  color: #eb4d4d;
}
